body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #f3f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#post-url {
    text-decoration: none;
}

.no-posts {
    text-align: center;
}

.posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.times {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: inherit;
    text-decoration: none;
}

.times:hover {
    box-shadow: none;
}

.times .header {
    display: flex;
    justify-content: space-between;
}

.icons a {
    text-decoration: none;
}

.times h2 {
    margin: 0;
    color: #555;
}

.times p {
    color: #666;
    text-decoration: none;
}

.post-meta {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    font-size: 0.9em;
    color: #999;
}


.comment-item {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease;
}

.comment-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-content {
    flex-grow: 1;
}

.comment-author {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.comment-text {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.step-links {
    display: inline-block;
}

.step-links a {
    color: #007bff;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.step-links a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.step-links .current {
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.step-links a:first-child {
    margin-left: 0;
}

.step-links a:last-child {
    margin-right: 0;
}

.session {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
    line-height: 1.3;
    letter-spacing: 1px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}